{% extends 'base.html' %}
{% load static %}
{% block title %}REdiC: Cancer RNA Editing Database{% endblock %}
{% block headscript %}
<style type="text/css">
.Tag_black{
color:black;
}
</style>
{% endblock %}
{% block content %}
    <!--若使用者有做過搜尋且不符合規定這跳出以下設定訊息-->
<div class="ui center aligned container">
    <p>
    <h1 class="ui header">
        <!-- Search RNA Editing Events By:-->
    </h1>
    </p>
<p>
<div class="ui raised segment">
<p style="line-height: 44px;border:1px">
{% with 'ACC  BLCA BRCA CESC CHOL COAD DLBC ESCA GBM HNSC KICH KIRC KIRP LAML LGG LIHC LUAD LUSC MESO OV PAAD PCPG PRAD READ SARC SKCM STAD TGCT THCA THYM UCEC UCS UVM' as list %}
{% for cancer in list.split %}
<a href="/sample/{{ cancer }}">
  {% if cancer == "OV" %}
  <div class="ui animated teal basic button" >
    <div class="visible content">&nbsp;{{ cancer }}&nbsp;</div>
    <div class="hidden content">
    <i class="right arrow icon"></i>
    </div>
  </div>
<!--  <button class="ui teal basic button">{{ cancer }}</button>  -->

{% elif  cancer == "ACC" or cancer == "LGG" or cancer == "GBM" or cancer == "UCS" or cancer == "UVM" %}
<div class="ui animated teal basic button" >
  <div class="visible content">{{ cancer }}</div>
  <div class="hidden content">
  <i class="right arrow icon"></i>
  </div>
</div>

{% else %}
<div class="ui animated teal basic button" >
    <div class="visible content">{{ cancer }}</div>
    <div class="hidden content">
    <i class="right arrow icon"></i>
    </div>
</div>
{% endif %}
</a>
{% endfor %}
{% endwith %}

</p>

</div>

</p>
&nbsp;&nbsp;

<div class="ui horizontal divider">OR</div>

<br>



</div>


<div class="ui text container">

<form class="ui large form" action="" method="get">
  <div class="field">
    <div class="fields">
     <div class="two wide field"> </div>
     <div class="six wide field">
      <label>TCGA Sample Barcode</label>
       <input id="sample_barcode" type="text" name="sample_barcode_field" placeholder="e.g., TCGA-4P-AA8J-01A">
    </div>
    <div class="six wide field">
     <label><span style="color:white">.</span></label>
     <button class="ui teal button" type="submit">Search</button>
      </div>
    </div>
    </div>
</form>


<div class="ui horizontal divider">OR</div>


<form class="ui large form" action="/sample/ALLL/" method="get">


  <div class="field">
    <div class="fields">
     <div class="two wide field"> </div>
     <div class="six wide field">
      <label>Tissue</label>
           <div class="ui search selection dropdown tiss">
              <input type="hidden" name="tissue">
              <i class="dropdown icon"></i>
              <div class="default text">Select Tissue</div>
              <div class="menu"></div>
            </div>
      </div>
       <div class="one wide field"> </div>
      <div class="six wide field">
          <label>Gender</label>
           <div class="inline fields">
           <div class="field">
             <div class="ui radio checkbox">
               <input type="radio" name="gender" value="0">
               <label>female</label>
             </div>
           </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="gender" value="1">
              <label>male</label>
            </div>
          </div>  
        </div> 
      </div> 
    </div> 
  </div> 

  <div class="field">
    <div class="fields">
     <div class="two wide field"> </div> 
     <div class="three wide field">
      <label>Age</label>
      <div class="ui input">
          <input id="age_from" type="text" name="age_from" placeholder="min">
        </div>
      </div>

      <div class="three wide field">
       <label><span style="color:white">.</span></label>
        <input id="age_to" type="text" name="age_to" placeholder="max">
    </div>

    <div class="one wide field"> </div>
    <div class="six wide field">
       <label>Status</label>   
          <div class="field">
                <select class="ui fluid search dropdown" name="tumor" value="any">
                    <option value="">Any</option>
                    <option value="1">Tumor</option>
                    <option value="0">Normal</option>
                </select>
          </div>
    </div>
  </div>  
</div>

<br>
<div class="field">
    <div class="fields">
  <div class="seven wide field"> </div>
  <div class="middle aligned column">
        <button class="ui teal button" type="submit">Search</button>
    </div>
  </div>  
</div>

</form>


</div>


<script type="text/javascript">
$('.ui.dropdown.tiss')
  .dropdown({
    values: [
{name: 'Adrenal Gland',value: 'Adrenal Gland'},
{name: 'Bile Duct',value: 'Bile Duct'},
{name: 'Bladder',value: 'Bladder'},
{name: 'Brain',value: 'Brain'},
{name: 'Breast',value: 'Breast'},
{name: 'Cervix',value: 'Cervix'},
{name: 'Colorectal',value: 'Colorectal'},
{name: 'Esophagus',value: 'Esophagus'},
{name: 'Extra Adrenal Gland',value: 'Extra Adrenal Gland'},
{name: 'Eye',value: 'Eye'},
{name: 'Head and Neck',value: 'Head and Neck'},
{name: 'Kidney',value: 'Kidney'},
{name: 'Liver',value: 'Liver'},
{name: 'Lung',value: 'Lung'},
{name: 'Lymph Nodes',value: 'Lymph Nodes'},
{name: 'Ovary',value: 'Ovary'},
{name: 'Pancreas',value: 'Pancreas'},
{name: 'Pleura',value: 'Pleura'},
{name: 'Prostate',value: 'Prostate'},
{name: 'Skin',value: 'Skin'},
{name: 'Soft Tissue',value: 'Soft Tissue'},
{name: 'Stomach',value: 'Stomach'},
{name: 'Testis',value: 'Testis'},
{name: 'Thymus',value: 'Thymus'},
{name: 'Thyroid',value: 'Thyroid'},
{name: 'Uterus',value: 'Uterus'},
    ]
  });
</script>
{% endblock %}
