{% extends 'base.html' %}
{% load static %}
{% block title %}TCGA Hyper Editing Database{% endblock %}
{% block headscript %}{% endblock %}
{% block content %}

        <div class="ui justified container">
        <div class="ui big segment">
            <div class="ui three item menu">
            <a class="item active" href="#Introduction">Intorduction</a>
            <a class="item" href="#Data">Data and method</a>
            <a class="item" href="#Usage">How to use</a>
            </div>
            <a name=Introduction> </a>
                <h1>Introduction (What is REdiC ?)</h1>
                REdiC is a freely available database providing A-to-I editing events in 32 cancer types (~11,000 individuals) from TCGA project and functional prediction of these editing events. Unlike other resources, we identified hyper-edited reads (and sites) as well as gain/loss of miRNA-3'UTR interactions due to editing. In total, we collected (195,907 are novel) among wich XXXXX    impact the binding of miRNA-3'UTR. 

                REdiC provides a comprehensive resource for the functional prediction of RNA editing in human cancers.



                An ATLAS of A-to-I RNA editing events and their function in human cancers.

                </p> Currently, users can:</p> 
                <p>1.</p> 
                <p>2.</p>
                <p>3.</p>
                <p>4.</p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
            
            <div class="ui divider"></div>
            <a name=Data> </a>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
            
            <div class="ui divider"></div>
            <a name=Usage> </a>
                <h1>Introduction (What is CREdi ?)</h1>
                Credi is a database . This database provide users to :
                <p>1.</p> 
                <p>2.</p>
                <p>3.</p>
                <p>4.</p>
                <div class="ui divider"></div>   

                <a name=Contact> </a>
                  <h1>Introduction (What is CREdi ?)</h1>
                Credi is a database . This database provide users to :
                <p>1.</p> 
                <p>2.</p>
                <p>3.</p>
                <p>4.</p>
            </div>
        </div>
{% endblock %}



