{% extends 'base.html' %}
{% load static %}
{% block title %}REdiC: Cancer RNA Editing Database{% endblock %}
{% block headscript %}
{% endblock %}
{% block content %}

<div class="ui center aligned container">
    <p>
    <h1 class="ui header"></h1>
    </p><br>
</div>
<script type="text/javascript">
	var loc = {{ meta.site.loc }};
	var title = "KM plot for {{ meta.site.chromo }}:" + loc.toLocaleString() + " in {{ meta.cancer }}";
	$('.ui.header').text(title);
</script>
<div class="ui center aligned container">
<div class="ui grid">
  <div class="two wide column"></div>
  <div class="twelve wide column">
  <img src="{% static pic %}">
  </div>
  <div class="two wide column"></div>
</div>

</div>
{% endblock %}