{% extends 'base.html' %}
{% load static %}
{% block title %}REdiC: Cancer RNA Editing Database{% endblock %}
{% block headscript %}
{% endblock %}
{% block content %}
    <!--若使用者有做過搜尋且不符合規定這跳出以下設定訊息-->

<div class="ui text center aligned container">    
  <form class="ui large form" action="/mirna_sites/POST/" method="post">
{% csrf_token %}
     <h3 class="ui header">Search by miRNA name</h3>
    <div class="ui action input">
      <div class="ui search selection mirna dropdown">
        <input type="hidden" name="mirna">
        <i class="dropdown icon"></i>
        <div class="default text">type or select miRNA</div>
        <div class="menu" id="mirna_target">
        </div>
      </div>
      <button class="ui teal button" type="submit">Search</button>
      <h5 class="ui right floated header"><a>miRBase release 22</a></h5>
    </div>
  </form>

  <br>
<div class="ui horizontal divider">OR</div>
  <form class="ui large form" action="/mirna_results/" method="post">
{% csrf_token %}
    <h3 class="ui header">Search by median miRNA expression in TCGA dataset</h3>
    <div class="inline fields">
      <div class="one wide field"></div>
      <div class="four wide field">
        <label>From</label>
        <input type="text" name='exp_from' placeholder="min rpm">
      </div>
      <div class="three wide field">
        <label>To</label>
        <input type="text" name='exp_to' placeholder="max rpm">
      </div>
      <div class="seven wide field">
        <label>in</label>
        <div class="ui action input">
          <div class="ui fluid search selection dropdown">
            <input type="hidden" name="cancer_field">
            <i class="dropdown icon"></i>
            <div class="default text">select cancer type</div>
            <div class="menu" id="cancer_target"></div>
          </div>
          <button class="ui teal button" type="submit">Search</button>
        </div>
      </div>
      <div class="one wide field"></div>
    </div>
  </form>
</div>
<script type="text/javascript">
var mirnas = [
{% for opt in miropt %}
"{{ opt }}", 
{% endfor %}
]
var i;
for (i = 0; i < mirnas.length; i++){
    var opt = document.createElement("div");
    var textnode = document.createTextNode(mirnas[i]);
    opt.appendChild(textnode);
    opt.setAttribute("class", "item");
    opt.setAttribute("data-value", mirnas[i]);
    document.getElementById("mirna_target").appendChild(opt);
}
var cancers = ['ACC', 'BLCA', 'BRCA', 'CESC', 'CHOL', 'COAD', 'DLBC', 'ESCA', 'GBM',
             'HNSC', 'KICH', 'KIRC', 'KIRP', 'LAML', 'LGG', 'LIHC', 'LUAD', 'LUSC', 
            'MESO', 'OV', 'PAAD', 'PCPG', 'PRAD', 'READ', 'SARC', 'SKCM','STAD', 
            'TGCT', 'THCA', 'THYM', 'UCEC', 'UCS', 'UVM'];

for (i = 0; i < cancers.length; i++){
    var opt = document.createElement("div");
    var textnode = document.createTextNode(cancers[i]);
    opt.appendChild(textnode);
    opt.setAttribute("class", "item");
    opt.setAttribute("data-value", cancers[i]);
    document.getElementById("cancer_target").appendChild(opt);
}
$('.ui.dropdown')
  .dropdown()
;
</script>
{% endblock %}