{% extends 'base.html' %}
{% load static %}
{% block title %}REdiC: Cancer RNA Editing Database{% endblock %}
{% block headscript %}
<!-- Heatmap starts -->
<script src="https://d3js.org/colorbrewer.v1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/heatmap.css" %}">
<script src="{% static "js/heatmap.js" %}"></script>
<!-- Heatmap ends -->
<script src="http://d3js.org/d3.v3.js"></script>
<style type="text/css">
  .ui.mywide.embed {
    padding-bottom: 0%;
  }
</style>
{% endblock %}
{% block content %}
<div class="ui basic segment">
  <div class="ui center aligned container">
    <h1>{{ mir }}</h1> 
  </div>
</div>
<div id="chart_heat" class="ui fluid center aligned container"></div>
<script type="text/javascript">
var data = [];
{% for exp in mir.miexpcancer_set.all %}
  console.log("{{ exp.p50 }}");
  {% if exp.is_tumor == 1 %}
    var block = {'day': 2, 'hour': cam2num['{{ exp.cancer }}'], 'value': {{ exp.p50 }}};
  {% else %}
    var block = {'day': 1, 'hour': cam2num['{{ exp.cancer }}'], 'value': {{ exp.p50 }}};
  {% endif %}
  data.push(block);
{% endfor %}
if (data.length > 0){
  heatmapChart(data, "chart_heat", $(window).width() * 0.7, $(window).width() * 0.1);
}
</script>
<div class="ui basic segment">
  <div class="ui center aligned container">
	  <h2>Gain Sites</h2>	
    <div class="ui negative message" id="no_gain" style="display: none;">
      <i class="close icon"></i>
      <div class="header">
        No Results!
      </div>
      <p>There are no more miRNAs binded when this site is edited.</p>
    </div>
  </div>
</div>
<span id="gain_part">
<div class="ui grid">
  <div class="eight wide column">
  	<h3 class="ui center aligned header" onclick="p1pop('p1')">Top 10 Edited Sites in Tumor</h3>
      <div class="ui basic segment">
      <div class="ui active dimmer" id="p1loader">
        <div class="ui massive text loader">Loading</div>
      </div>
  	  <div class="ui embed" data-url="/img/sites/5/{'gain_mir': '{{ mir }}'}/p1/{{ rd.0 }}/">
      </div>
      <span id='pointp1'></span>
      </div>
	</div>

  <div class="eight wide column">
  	<h3 class="ui center aligned header" onclick="p1pop('p2')">Edited Sites in Cancers</h3>
    <div class="ui basic segment">
    <div class="ui active dimmer" id="p2loader">
      <div class="ui massive text loader">Loading</div>
    </div>  
  	<div class="ui embed" data-url="/img/sites/3/{'gain_mir': '{{ mir }}'}/p2/{{ rd.0 }}/">
	  </div>
    <span id='pointp2'></span>
    </div>
  </div>
</div>
<div class="ui mywide embed" id="gain_embed" data-url="/embed_table/?mirna={{ mir }}&gl=gain_mir&frame=gain_embed"></div>
</span>
<div class="ui basic segment">
  <div class="ui center aligned container">
	  <h2>Loss Sites</h2>	
  </div>
  <div class="ui negative message" id="no_loss" style="display: none;">
    <i class="close icon"></i>
    <div class="header">
      No Results!
    </div>
    <p>There are no less miRNAs binded when this site is edited.</p>
  </div>
</div>
<span id="loss_part">
<div class="ui grid" id="loss_imgs">
  <div class="eight wide column">
  	<h3 class="ui center aligned header" onclick="p1pop('p3')">Top 10 Edited Sites in Tumor</h3>
    <div class="ui basic segment">
    <div class="ui active dimmer" id="p3loader">
      <div class="ui massive text loader">Loading</div>
    </div>
  	<div class="ui embed" data-url="/img/sites/5/{'loss_mir': '{{ mir }}'}/p3/{{ rd.1 }}/">
	  </div>
    <span id='pointp3'></span>
    </div>
  </div>
  <div class="eight wide column">
  	<h3 class="ui center aligned header" onclick="p1pop('p4')">Edited Sites in Cancers</h3>
    <div class="ui basic segment">
    <div class="ui active dimmer" id="p4loader">
      <div class="ui massive text loader">Loading</div>
    </div>
  	<div class="ui embed" data-url="/img/sites/3/{'loss_mir': '{{ mir }}'}/p4/{{ rd.1 }}/">
	  </div>
    <span id='pointp4'></span>
    </div>
  </div>
</div>
<div class="ui mywide embed" id="loss_embed" data-url="/embed_table/?mirna={{ mir }}&gl=loss_mir&frame=loss_embed"></div>
</span>


<div class="ui modal fullscreen p1big">
  <i class="close icon"></i>
  <div class="header">
    Top 10 Edited Sites
  </div>
  <div id="p1img" class="ui fluid image"></div>
  <div class="actions">
    <div class="ui deny button">
      OK
    </div>
  </div>
</div>
<div class="ui modal fullscreen p2big">
  <i class="close icon"></i>
  <div class="header">
    Sites in cancers
  </div>
  <div id="p2img" class="ui fluid image"></div>
  <div class="actions">
    <div class="ui deny button">
      OK
    </div>
  </div>
</div>
<div class="ui modal fullscreen p3big">
  <i class="close icon"></i>
  <div class="header">
    Top 10 Edited Sites
  </div>
  <div id="p3img" class="ui fluid image"></div>
  <div class="actions">
    <div class="ui deny button">
      OK
    </div>
  </div>
</div>
<div class="ui modal fullscreen p4big">
  <i class="close icon"></i>
  <div class="header">
    Sites in cancers
  </div>
  <div id="p4img" class="ui fluid image"></div>
  <div class="actions">
    <div class="ui deny button">
      OK
    </div>
  </div>
</div>
<script type="text/javascript">
function alterHeight(h, id){
  $('#' + id).height(h);
}
$('.ui.embed').embed();
$('#pointp1').prev('div').children().children().attr("scrolling", "yes");
$('#pointp2').prev('div').children().children().attr("scrolling", "yes");
$('#pointp3').prev('div').children().children().attr("scrolling", "yes");
$('#pointp4').prev('div').children().children().attr("scrolling", "yes");
function p1pop(pp) {
	$(function(){
		$(".fullscreen." + pp + "big").modal('show');
	});
}
function p1load(target_id, img_src) {
  document.getElementById(target_id + "loader").setAttribute("class", "ui disabled loader");
  //$("#" + target_id + "pic").show();
  //document.getElementById(target_id + "pic").setAttribute("style", "");
	var DOM_img = document.createElement("img");
	DOM_img.src = img_src;
	document.getElementById(target_id + "img").appendChild(DOM_img);
}
function vanish(tar) {
  if (tar == 'p1' || tar == 'p2'){
    $("#gain_part").hide();
    $("#no_gain").show();
  }
  if (tar == 'p3' || tar == 'p4'){
    $("#loss_part").hide();
    $("#no_loss").show();
  }
}
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>
{% endblock %}