{% extends 'base.html' %}
{% load static %}
{% block title %}REdiC: Cancer RNA Editing Database{% endblock %}
{% block headscript %}
<style type="text/css">
.Consolas{
font-family: Consolas;
}
  .ui.mywide.embed {
    padding-bottom: 0%;
  }
</style>
{% load mathfilters %}
{% endblock %}
{% block content %}
<div class="ui basic segment">
  <div class="ui center aligned container">
	{% if cancer != 'ALL' %}
	<h1 class="ui header">{{ cancer }} samples</h1>
	{% else %}
	<h1 class="ui header">filtered samples</h1>
	{% endif %}
	{% for key, value in cri.items %}
	<div class="ui label">
	  {{key}}
	  <div class="detail">{{ value }}</div>
	</div>
	{% endfor %}
  </div>
</div>
<div class="ui grid">
  <div class="eight wide column">
  	<h2 class="ui center aligned header" onclick="p1pop()">Top 10 Edited in {{ cancer }}</h2>
  	<div class="ui basic segment">
    <div class="ui active dimmer" id="p1loader">
      <div class="ui massive text loader">Loading</div>
    </div>
  	<div class="ui img embed" data-url="/img/cancers/3/{{ cancer }}/{{ rd.0 }}/l/">
  	</div>
  	<span id='pointp1'></span>
  	</div>
  </div>
  <div class="eight wide column">
  	<h2 class="ui center aligned header" onclick="p2pop()">Top 10 Editing Frequency in {{ cancer }}</h2>
  	<div class="ui basic segment">
    <div class="ui active dimmer" id="p2loader">
      <div class="ui massive text loader">Loading</div>
    </div>
  	<div class="ui img embed" data-url="/img/cancers/3/{{ cancer }}/{{ rd.1 }}/r/">
	</div>
	<span id='pointp1'></span>
	</div>
  </div>
</div>
<div class="ui basic segment">
  <div class="ui mywide embed" id="samples_embed"></div>
</div>
</div>

<div class="ui modal fullscreen p1big">
  <i class="close icon"></i>
  <div class="header">
    Top 10 Edited in {{ cancer }}
  </div>
  <div id="p1img" class="ui fluid image"></div>
  <div class="actions">
    <div class="ui deny button">
      OK
    </div>
  </div>
</div>
<div class="ui modal fullscreen p2big">
  <i class="close icon"></i>
  <div class="header">
    Top 10 Editing Frequency in {{ cancer }}
  </div>
  <div id="p2img" class="ui fluid image"></div>
  <div class="actions">
    <div class="ui deny button">
      OK
    </div>
  </div>
</div>
<script type="text/javascript">
if (location.search.length > 0){
	var url = "/embed_sample/{{ cancer }}/" + location.search + "&frame=samples_embed";
}else{
	var url = "/embed_sample/{{ cancer }}/?&frame=samples_embed";
}
$('.mywide.ui.embed').embed({
  url : url
});
function alterHeight(h, id){
	$('#' + id).height(h);
}
$('.dropdown').dropdown({
  label: {
    duration: 0,
  },
  debug: true,
  performance: true,
});
$('.ui.img.embed').embed();
$(".p1big").modal({
	closable: true
});
$('#pointp1').prev('div').children().children().attr("scrolling", "yes");
$('#pointp2').prev('div').children().children().attr("scrolling", "yes");
function p1pop() {
	$(function(){
		$(".fullscreen.p1big").modal('show');
	});
}
function p2pop() {
	$(function(){
		$(".fullscreen.p2big").modal('show');
	});
}
function p1load(target_id, img_src) {
	document.getElementById(target_id + "loader").setAttribute("class", "ui disabled loader");
	var DOM_img = document.createElement("img");
	DOM_img.src = img_src;
	//document.getElementById(target_id + 'img').appendChild(DOM_img);
}


</script>
{% endblock %}