{% extends 'base.html' %}
{% load static %}
{% block title %}REdiC: Cancer RNA Editing Database{% endblock %}
{% block headscript %}
<script type="text/javascript"> 
var chromo_len = {'1':248956422, '2':242193529, '3':198295559, '4':190214555, '5':181538259,
'6': 170805979, '7':159345973, '8':145138636, '9':138394717, '10':133797422, '11':135086622,
'12':133275309, '13':114364328, '14':107043718, '15':101991189, '16':90338345, '17':83257441,
'18':80373285, '19':58617616, '20':64444167, '21':46709983, '22':50818468, 'X':156040895,
'Y':57227415, '0':"end"};
function chrlen() {  
    var chromo = document.getElementById("chromo_select").value;
    document.getElementById("chr_start").placeholder = 1;
    document.getElementById("chrlenplace").placeholder = chromo_len[chromo];
    return 0;  
}  
</script>
{% endblock %}
{% block content %}
    <!--若使用者有做過搜尋且不符合規定這跳出以下設定訊息-->
    <div class="ui center aligned container">
      <br><br>
    {% if zero_result %}
        <p>
            <div class="ui red label">There is no data satisfies your request.</div>
        </p>
    {% endif %}
    </div>

<div class="ui text container">

<div class="ui basic segment">
  <h2 class="ui left floated header">Search RNA editing sites of interest  </h2>
  <h4 class="ui right floated header"><a>(GRCh38/hg38)</a></h4>
</div>

<form class="ui large form" action="" method="get">
  <div class="ui divider"></div>
<br>

  <div class="field">
    <div class="fields">

    <div class="eight wide field">
      <label>Chromosome</label>
        <div class="ui selection dropdown">
        <input type="hidden" name="chromosome_field" id='chromo_select' value="0" onchange="chrlen()">
        <i class="dropdown icon"></i>
        <div class="default text">any</div>
          <div class="menu">
<!--            <div class="item" data-value="0">Any</div>  -->
            <div class="item" data-value="1">chr1</div>
            <div class="item" data-value="2">chr2</div>
            <div class="item" data-value="3">chr3</div>
            <div class="item" data-value="4">chr4</div>
            <div class="item" data-value="5">chr5</div>
            <div class="item" data-value="6">chr6</div>
            <div class="item" data-value="7">chr7</div>
            <div class="item" data-value="8">chr8</div>
            <div class="item" data-value="9">chr9</div>
            <div class="item" data-value="10">chr10</div>
            <div class="item" data-value="11">chr11</div>
            <div class="item" data-value="12">chr12</div>
            <div class="item" data-value="13">chr13</div>
            <div class="item" data-value="14">chr14</div>
            <div class="item" data-value="15">chr15</div>
            <div class="item" data-value="16">chr16</div>
            <div class="item" data-value="17">chr17</div>
            <div class="item" data-value="18">chr18</div>
            <div class="item" data-value="19">chr19</div>
            <div class="item" data-value="20">chr20</div>
            <div class="item" data-value="21">chr21</div>
            <div class="item" data-value="22">chr22</div>
            <div class="item" data-value="X">chrX</div>
            <div class="item" data-value="Y">chrY</div>
          </div>
        </div>
    </div>

    <div class="four wide field">
      <label>From</label>
        <div class="ui input">
            <input type="text" id='chr_start' placeholder="start" name="loc__gte">
        </div>
    </div>

    <div class="four wide field">
      <label>To</label>
      <div class="field">
        <div class="ui input">
            <input type="text" id='chrlenplace' placeholder="end" name="loc__lte">
        </div>
      </div>
    </div>

  </div>
  </div>


  <div class="field">
    <div class="fields">
      
      <div class="eight wide field">
        <label>Gene Name (ex: NOL9)</label>
        <input type="text" name="gene_name_field" placeholder="any">
      </div>
      
      <div class="eight wide field">
        <label>Genic Region</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="genomic_region_field" value='any'>
          <i class="dropdown icon"></i>
          <div class="default text">any</div>
          <div class="menu" id="grs_menu"></div>
            <script type="text/javascript">
            var grs = ["intronic", "intergenic", "ncRNA_intronic", "UTR3", "downstream", "ncRNA_exonic", "upstream", "exonic", "UTR5", "splicing", "ncRNA_splicing"];
            var i;
            for (i = 0; i < grs.length; i++){
                $('#grs_menu').append("<div class='item' data-value='" + grs[i] + "'>" + grs[i] + "</div>");}
            </script>
        </div>
      </div>


    </div>
  </div>
  <div class="field">
    <div class="fields">
      <div class="eight wide field">
        <label>Repeat</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="repeat_field" value='any'>
          <i class="dropdown icon"></i>
          <div class="default text">any</div>
          <div class="menu" id="rps_menu"></div>
            <script type="text/javascript">
            var rps = ["ALU", "HERVK", "SVA", "L1", "Non"];
            var i;
            for (i = 0; i < rps.length; i++){
                $('#rps_menu').append("<div class='item' data-value='" + rps[i] + "'>" + rps[i] + "</div>");}
            </script>
        </div>
      </div>
      
      <div class="eight wide field">
        <label>AA Change</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="aa_change_field" value='any'>
          <i class="dropdown icon"></i>
          <div class="default text">any</div>
          <div class="menu">
            <div class="item" data-value="2">Synonymous</div>
            <div class="item" data-value="1">Nonsynonymous</div>
            <div class="item" data-value="3">Stop Loss</div>
            <div class="item" data-value="4">Unknown</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="fields">
      <div class="four wide field">
        <label># of miRNA-UTR Gain</label>
        <input type="text" name="gain__gte" placeholder="min">
      </div>
      <div class="four wide field">
        <label><span style="color:white">.</span></label>
        <input type="text" name="gain__lte" placeholder="max">
      </div>
      <div class="four wide field">
        <label># of miRNA-UTR Loss</label>
        <input type="text" name="loss__gte" placeholder="min">
      </div>
      <div class="four wide field">
        <label><span style="color:white">.</span></label>
        <input type="text" name="loss__lte" placeholder="max">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="fields">
      <div class="six wide field">
        <label>cox in Cancer</label>
        <input type="text" name="cox_cancer" placeholder="no use for now">
      </div>
      <div class="five wide field">
        <label>cox in Cancers from</label>
        <input type="text" name="siteanno__has_cox__gte" placeholder="from">
      </div>
      <div class="five wide field">
        <label>cox in Cancers to</label>
        <input type="text" name="siteanno__has_cox__lte" placeholder="to">
      </div>
    </div>
  </div>

  <button class="ui teal button" type="submit">Search</button>
 
</form>
</div>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript">
d3.csv("{% static "csv/gene_inputs.txt" %}", function(d) {
    var opt = document.createElement("div");
    var textnode = document.createTextNode(d['gene']);
    opt.appendChild(textnode);
    opt.setAttribute("class", "item");
    opt.setAttribute("data-value", d['gene']);
    document.getElementById("gene_target").appendChild(opt);
});
$('.ui.dropdown')
  .dropdown()
;
$('#chromo_select').attr("style", "width: 100px;");
</script>
{% endblock %}